*{
    margin: 0;
    padding: 0;
    
}
h1{
    padding: 20px;
}

img{
    display: block;
    width: 200px;
    padding: 20px;
}


video{
    display: block;
    width: 30%;
    padding: 20px;
}

audio{
    display: block;
    width: 400px;
    padding: 20px;
    padding-top: 0;
}

#msc{
    width: 400px;
    height: 300px;
    padding-bottom: 0;
}